@import 'tailwindcss';

/* ==========================================================================
    CSS DE ADAPTABILIDAD DEL MODAL
    ========================================================================== */

/* Altura rígida para mantener la proporción 9:16 del Reel */
#modal-embed-target {
    width: 100%;
    height: 680px !important;
    min-height: 680px !important;
    max-height: 680px !important;
    position: relative;
    background: transparent !important;
}

#modal-embed-target blockquote.instagram-media {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 auto !important;
    min-width: 100% !important;
}

#modal-embed-target iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}

/* Modales en pantallas de celular (Escalamos un poco para evitar que se desborde el alto) */
@media (max-width: 480px) {
    #modal-embed-target {
        height: 560px !important;
        min-height: 560px !important;
        max-height: 560px !important;
    }
}

@media (max-width: 359px) {
    #modal-embed-target {
        height: 460px !important;
        min-height: 460px !important;
        max-height: 460px !important;
    }
    /* Aplicamos tu truco de escala si la pantalla es ultra chica */
    #modal-embed-target iframe {
        transform: scale(0.88) !important;
        transform-origin: top center !important;
        width: 112% !important;
        max-width: 112% !important;
    }
}
/*TODO ESTILO BOTON IDIOMA
/* Ocultar el banner superior que genera Google Translate */
.skiptranslate,
.goog-te-banner-frame {
    display: none !important;
}
body {
    top: 0 !important;
}
/* Ocultar el cartel flotante nativo de Google */
#goog-gt-tt,
.goog-te-balloon-frame {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
}
